{% extends 'base.html.twig' %}
{% block title %}Llibres{% endblock %}
{% block body %}
<h1>Biblioteca Personal Adrià</h1>

<p>Pàgina d'inici</p>
<p>Projecte Symfony 2n DAW</p>
<p>Curs 21/22</p>
<a href="/llibre/A111B4"><img class="imatge" src="{{ asset('img/imatgeInici.png') }}"/></a>
{% if llibres%}
{% for llibre in llibres%}
<ul>
<li>
<a href ="{{ path('fitxa_llibre', {'isbn': llibre.isbn }) }}">{{llibre.titol}}</a>
</li>
</ul>
{%endfor%}
{%endif%}
{% endblock %}