{% extends 'base.html.twig' %}

{% block body %}
    <h1>No tens permís per a accedir a aquest recurs</h1>
    <h2>HTTP Error 403</h2>

    <img class="imatge" src="{{ asset('img/error403.jpg') }}"/>
{% endblock %}